.yellowwallpaper-icon4 {
  position: absolute;
  top: 707px;
  left: 0;
  width: 360px;
  height: 594px;
  object-fit: cover;
}
.b62,
.child12 {
  position: absolute;
}
.b62 {
  top: 58px;
  left: 68px;
  font-size: var(--h1-silou-size);
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  width: 175px;
}
.child12 {
  top: 100.5px;
  left: 19.5px;
  border-top: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  width: 321px;
  height: 1px;
}
.b63 {
  position: relative;
  letter-spacing: 0.04em;
}
.wrapper20,
.wrapper21 {
  border-radius: var(--br-base);
  background-color: var(--color-darkorange);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-3xs);
  color: var(--base-black0);
}
.wrapper20 {
  position: absolute;
  top: 348px;
  left: 21px;
  overflow: hidden;
}
.wrapper21 {
  top: 387px;
  left: 149px;
}
.mdiplace-icon5,
.wrapper21,
.wrapper22 {
  position: absolute;
  overflow: hidden;
}
.wrapper22 {
  top: 348px;
  left: 202px;
  border-radius: var(--br-base);
  background-color: var(--color-darkorange);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-3xs);
  color: var(--base-black0);
}
.mdiplace-icon5 {
  top: 2px;
  left: 0;
  width: 21px;
  height: 20px;
}
.a45,
.b66 {
  position: absolute;
  top: 1px;
  left: 26px;
  letter-spacing: 0.04em;
}
.a45 {
  top: 0;
  left: 66px;
  text-decoration: underline;
  line-height: 24px;
  color: var(--color-maroon);
}
.child13,
.mdiplace-parent3 {
  position: absolute;
  top: 457px;
  left: 20px;
  width: 251px;
  height: 24px;
}
.child13 {
  height: 0.98%;
  width: 5.14%;
  top: 37.87%;
  right: 88.47%;
  bottom: 61.14%;
  left: 6.39%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b67,
.b68,
.b69,
.b70,
.b71,
.div114,
.div115 {
  position: absolute;
  top: 485px;
  left: 46px;
  letter-spacing: 0.04em;
}
.b68,
.b69,
.b70,
.b71,
.div114,
.div115 {
  top: 524px;
  left: 21px;
}
.b69,
.b70,
.b71,
.div114,
.div115 {
  top: 723px;
}
.b70,
.b71,
.div114,
.div115 {
  top: 901px;
}
.b71,
.div114,
.div115 {
  top: 1076px;
  left: 20px;
}
.div114,
.div115 {
  top: 647px;
  left: 270px;
  line-height: 24px;
  color: var(--color-salmon);
}
.div115 {
  top: 484px;
  left: 86px;
  color: var(--color-maroon);
}
.mingcutetime-fill-icon5 {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.b72,
.div116 {
  position: absolute;
  top: 0;
  letter-spacing: 0.04em;
}
.div116 {
  left: 96px;
  line-height: 24px;
  display: inline-block;
  width: 181px;
}
.b72 {
  left: 24px;
  color: var(--color-seagreen);
}
.mingcutetime-fill-parent3 {
  position: absolute;
  top: 430px;
  left: 21px;
  width: 277px;
  height: 24px;
  color: var(--color-maroon);
}
.div117,
.div118 {
  position: absolute;
}
.div117 {
  top: 551px;
  left: 21px;
  letter-spacing: 0.04em;
  line-height: 24px;
  color: var(--color-maroon);
  text-align: justify;
  display: inline-block;
  width: 315px;
}
.div118 {
  top: 78.69%;
  left: 0;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.group-child38 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.div119,
.group-child38,
.inner35 {
  position: absolute;
  left: 0;
}
.inner35 {
  height: 75.41%;
  width: 117.93%;
  top: 0;
  right: -17.93%;
  bottom: 24.59%;
}
.div119 {
  top: 91.8%;
  font-size: var(--body2-size);
  letter-spacing: 0.04em;
  line-height: 24px;
  color: var(--color-darkslategray);
}
.a46 {
  text-decoration: none;
  position: relative;
  width: 116px;
  height: 122px;
  flex-shrink: 0;
  cursor: pointer;
  color: inherit;
}
.parent9,
.wrapper23 {
  position: absolute;
  display: flex;
  flex-direction: row;
}
.parent9 {
  top: 1107px;
  left: 0;
  width: 360px;
  height: 136px;
  overflow-x: auto;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-10xl);
  font-size: var(--h3-silou-size);
  color: var(--color-maroon);
}
.wrapper23 {
  top: 387px;
  left: 20px;
  border-radius: var(--br-base);
  background-color: var(--color-darkorange);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-3xs);
  color: var(--base-black0);
}
.component-25 {
  text-decoration: none;
  color: inherit;
}
.component-25,
.div126 {
  position: relative;
  width: 116px;
  height: 122px;
  flex-shrink: 0;
}
.component-2-parent3 {
  position: absolute;
  top: 737px;
  left: -1px;
  width: 360px;
  height: 156px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-3xl);
  box-sizing: border-box;
  gap: var(--gap-10xl);
  font-size: var(--h3-silou-size);
  color: var(--color-maroon);
}
.frame-child49,
.frame-child50 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  width: 319.8px;
  height: 215px;
}
.frame-child49 {
  background-color: var(--color-gainsboro);
}
.frame-child50 {
  object-fit: cover;
}
.frame-child51,
.rectangle-parent19 {
  position: relative;
  width: 319.8px;
  height: 215px;
  flex-shrink: 0;
}
.frame-child51 {
  border-radius: var(--br-xs);
  width: 143px;
  object-fit: cover;
}
.frame-parent3 {
  top: 117px;
  left: 0;
  width: 360px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  gap: var(--gap-5xs);
}
.frame-child62,
.frame-parent3,
.parent10 {
  position: absolute;
  box-sizing: border-box;
}
.parent10 {
  top: 932px;
  left: -1px;
  width: 360px;
  height: 136px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  gap: var(--gap-10xl);
  font-size: var(--h3-silou-size);
  color: var(--color-maroon);
}
.frame-child62 {
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid var(--color-darkorange);
  width: 35px;
  height: 35px;
}
.iluo5 {
  font-size: var(--font-size-2xs);
}
.xiluo-txt5 {
  line-break: anywhere;
  width: 100%;
}
.xiluo5 {
  position: absolute;
  top: 3px;
  left: 1px;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  width: 34px;
  height: 26px;
}
.ellipse-parent3 {
  position: absolute;
  top: 58px;
  left: 20px;
  width: 35px;
  height: 35px;
  font-size: var(--h3-silou-size);
  color: var(--color-darkorange);
  font-family: var(--font-darumadrop-one);
}
.div113 {
  position: relative;
  background-color: var(--base-black0);
  width: 100%;
  height: 1294px;
  overflow: hidden;
  text-align: left;
  font-size: var(--h2-silou-size);
  color: var(--color-seagreen);
  font-family: var(--body2);
}
