.child,
.div1 {
  position: absolute;
}
.child {
  top: 0;
  left: 0;
  background-color: #017187;
  width: 360px;
  height: 95px;
}
.div1 {
  top: 47px;
  left: 64px;
  font-size: var(--h1-silou-size);
  line-height: 150%;
  font-weight: 500;
  color: var(--base-black0);
}
.inner,
.item {
  position: absolute;
  top: 56px;
  left: 29px;
  border-radius: 50%;
  background-color: var(--secondary-pink80);
  width: 18px;
  height: 18px;
}
.inner {
  top: 68px;
  left: 20px;
  background-color: var(--secondary-pink100);
  width: 9px;
  height: 9px;
}
.div2,
.div3,
.div4,
.div5 {
  position: absolute;
  line-height: 150%;
  font-weight: 500;
}
.div2 {
  top: 61px;
  left: 268px;
  font-size: var(--body2-size);
  color: var(--base-black0);
  display: flex;
  align-items: center;
  width: 72px;
  height: 22px;
}
.div3,
.div4,
.div5 {
  top: 547px;
  left: 41px;
  font-size: var(--h1-silou-size);
  color: var(--accent-error-error100);
}
.div4,
.div5 {
  left: 156px;
}
.div5 {
  left: 259px;
}
.rectangle-icon {
  position: absolute;
  top: 95px;
  left: 0;
  width: 700px;
  height: 424px;
  object-fit: cover;
}
.child1,
.child2,
.line-div {
  position: absolute;
  top: 580.5px;
  left: 41.5px;
  border-top: 1px solid var(--primary-green60);
  box-sizing: border-box;
  width: 47px;
  height: 1px;
}
.child1,
.child2 {
  left: 156.5px;
}
.child2 {
  left: 259.5px;
  width: 71px;
}
.a,
.a1,
.a2 {
  text-decoration: none;
  position: absolute;
  top: 596px;
  left: 30px;
  line-height: 150%;
  font-weight: 500;
  color: inherit;
}
.a1,
.a2 {
  top: 629px;
}
.a2 {
  top: 662px;
  left: 23px;
}
.p {
  margin: 0;
}
.a3,
.a4,
.a5 {
  position: absolute;
  line-height: 150%;
  font-weight: 500;
}
.a3 {
  text-decoration: none;
  top: 596px;
  left: 138px;
  color: inherit;
  text-align: center;
}
.a4,
.a5 {
  left: 260px;
}
.a4 {
  text-decoration: none;
  top: 596px;
  color: inherit;
}
.a5 {
  top: 629px;
}
.a5,
.a6,
.a7 {
  text-decoration: none;
  color: inherit;
}
.a6 {
  position: absolute;
  top: 704px;
  left: 131px;
  line-height: 150%;
  font-weight: 500;
}
.a7 {
  top: 650px;
  left: 138px;
  text-align: center;
}
.a7,
.a8,
.div6 {
  position: absolute;
  line-height: 150%;
  font-weight: 500;
}
.a8 {
  text-decoration: none;
  top: 737px;
  left: 152px;
  color: inherit;
}
.div6 {
  top: 770px;
  left: 131px;
}
.div {
  position: relative;
  background-color: var(--base-black0);
  width: 100%;
  height: 1000px;
  overflow: hidden;
  text-align: left;
  font-size: var(--h3-silou-size);
  color: var(--tertiary-blue100);
  font-family: var(--body2);
}
