body {
    width: 100%;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    border-bottom: #3F6E4A solid 1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 8px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 16px;
    max-width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

.icon {
    width: 35px;
    height: 35px;
    margin-right: 13px;
}

.title {
    color: #006633;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.96px;
}

.hide-scroll{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.hide-scroll::-webkit-scrollbar {
    display: none;
}

.slider {
    display: flex;
    gap: 8px;
    overflow-x: auto;
    margin-left: -20px;
    padding-left: 20px;
    margin-right: -20px;
    padding-right: 20px;
}

.tag {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    row-gap: 12px;
}

.tag-element {
    padding: 2px 10px;
    border-radius: 16px;
    background-color: #FB9E3B;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.64px;
}

.meta {
    display: flex;
    flex-direction: column;
}

.meta-info {
    display: inline-flex;
    flex-direction: row;
    align-items: start;
    gap: 5.5px;
}

.meta-icon {
    width: 20px;
    max-height: 20px;
}

.meta-label {
    color: #063;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.64px;
}

.meta-text {
    color: #600;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.64px;
}

.meta-description {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 4px;
    text-align: justify;
}

.meta-more {
    text-align: right;
    color: #F66;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.64px;
    margin-top: 12px;
}
.meta-text a{
    color: #600;
}

.related {
    background-image: url(images/background.png);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.related-element a{
    text-decoration: none;
}

.related-label {
    color: #063;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.64px;
}

.related-image {
    width: 136px;
    height: auto;
}

.related-content{
    display: inline-flex;
    gap: 12px;
    overflow-y: auto;
    margin-left: -20px;
    padding-left: 20px;
    margin-right: -20px;
    padding-right: 20px;
}

.related-name {
    color: #600;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}

.related-description {
    color: #333;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.48px;
}